<div class="row">
    <div class="col-xs-4">
        <div class="card" style="background-color: #fff;">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">
                            OTROS MEDIOS
                        </th>                                
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[0]" value="EFECTIVO" type="checkbox">
                                <span class="c-indicator"></span>
                                EFECTIVO
                            </label>                                                            
                        </td>   
                    </tr>       
                    <tr>                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[1]" value="MERCADO-PAGO" type="checkbox">
                                <span class="c-indicator"></span>
                                MERCADO PAGO <a style="color:#666;float: right;" title="Ver las promociones de las diferentes tarjetas por utilizar mercado pago" href="https://www.mercadopago.com.ar/cuotas" target="new">ver promociones MP</a>
                            </label>                                                            
                        </td>                                
                    </tr>                    
                    <tr>                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[2]" value="CENTRO-CARD" type="checkbox">
                                <span class="c-indicator"></span>
                                CENTRO CARD
                            </label>                                                            
                        </td>                                
                    </tr>       
                    <tr>                                                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[3]" value="FEDERAL" type="checkbox">
                                <span class="c-indicator"></span>
                                FEDERAL
                            </label>                                                            
                        </td>                                                                
                    </tr>  
                    <tr>                                                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[4]" value="NATIVA" type="checkbox">
                                <span class="c-indicator"></span>
                                NEVADA
                            </label>                                                            
                        </td>                                                                
                    </tr>                                                          
                    <tr>                                                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[5]" value="NARANJA" type="checkbox">
                                <span class="c-indicator"></span>
                                NARANJA
                            </label>                                                            
                        </td>                                                                
                    </tr>                            
                    <tr>                                                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[6]" value="CENCOSUD" type="checkbox">
                                <span class="c-indicator"></span>
                                CENCOSUD
                            </label>                                                            
                        </td>                                                                
                    </tr>                           
                </tbody>
            </table>
        </div>
    </div>  
    <div class="col-xs-4">
        <div class="card" style="background-color: #fff;">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">
                            VISA
                        </th>                                
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[8]" value="VISA-DEBITO" type="checkbox">
                                <span class="c-indicator"></span>
                                DEBITO
                            </label>                                                            
                        </td>   
                    </tr>       
                    <tr>                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[9]" value="VISA-NACION" type="checkbox">
                                <span class="c-indicator"></span>
                                BANCO NACIÓN
                            </label>                                                            
                        </td>                                
                    </tr>       
                    <tr>                                                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[10]" value="VISA-PATAGONIA" type="checkbox">
                                <span class="c-indicator"></span>
                                BANCO PATAGONIA
                            </label>                                                            
                        </td>                                                                
                    </tr>  
                    <tr>                                                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[11]" value="VISA-HIPOTECARIO" type="checkbox">
                                <span class="c-indicator"></span>
                                BANCO HIPOTECARIO
                            </label>                                                            
                        </td>                                                                
                    </tr>                             
                    <tr>                                                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[12]" value="VISA-FRANCES" type="checkbox">
                                <span class="c-indicator"></span>
                                BANCO FRANCÉS
                            </label>                                                            
                        </td>                                                                
                    </tr>                             
                    <tr>                                                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[13]" value="VISA-GALICIA" type="checkbox">
                                <span class="c-indicator"></span>
                                BANCO GALICIA
                            </label>                                                            
                        </td>                                                                
                    </tr>                            
                    <tr>                                                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[14]" value="VISA-SANTANDER-RIO" type="checkbox">
                                <span class="c-indicator"></span>
                                BANCO SANTANDER RÍO
                            </label>                                                            
                        </td>                                                                
                    </tr>    
                    <tr>                                                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[15]" value="VISA-OTRO" type="checkbox">
                                <span class="c-indicator"></span>
                                OTRO
                            </label>                                                            
                        </td>                                                                
                    </tr>                             
                </tbody>
            </table>
        </div>
    </div>   
    <div class="col-xs-4">
        <div class="card">
            <table class="table" style="background-color: #fff;">
                <thead>
                    <tr>
                        <th class="text-center">
                            MASTERCARD
                        </th>                                
                    </tr>
                </thead>
                <tbody>
                    <tr>                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[16]" value="MASTERCARD-NACION" type="checkbox">
                                <span class="c-indicator"></span>
                                BANCO NACIÓN
                            </label>                                                            
                        </td>                                
                    </tr>       
                    <tr>                                                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[17]" value="MASTERCARD-PATAGONIA" type="checkbox">
                                <span class="c-indicator"></span>
                                BANCO PATAGONIA
                            </label>                                                            
                        </td>                                                                
                    </tr>  
                    <tr>                                                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[18]" value="MASTERCARD-HIPOTECARIO" type="checkbox">
                                <span class="c-indicator"></span>
                                BANCO HIPOTECARIO
                            </label>                                                            
                        </td>                                                                
                    </tr>                             
                    <tr>                                                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[19]" value="MASTERCARD-FRANCES" type="checkbox">
                                <span class="c-indicator"></span>
                                BANCO FRANCÉS
                            </label>                                                            
                        </td>                                                                
                    </tr>                             
                    <tr>                                                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[20]" value="MASTERCARD-GALICIA" type="checkbox">
                                <span class="c-indicator"></span>
                                BANCO GALICIA
                            </label>                                                            
                        </td>                                                                
                    </tr>                            
                    <tr>                                                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[21]" value="MASTERCARD-CENCOSUD" type="checkbox">
                                <span class="c-indicator"></span>
                                CENCOSUD
                            </label>                                                            
                        </td>                                                                
                    </tr>    
                    <tr>                                                            
                        <td>
                            <label class="c-input c-checkbox">                               
                                <input name="producto-tv-medio-de-pago[22]" value="MASTERCARD-OTRO" type="checkbox">
                                <span class="c-indicator"></span>
                                OTRO
                            </label>                                                            
                        </td>                                                                
                    </tr>                             
                </tbody>
            </table>
        </div>
    </div>                        
</div>